In [15]:
import pandas as pd
import  numpy as np
df=pd.read_csv("trainData.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [20]:
a=df.values_count().target
a

AttributeError: 'DataFrame' object has no attribute 'values_count'

In [22]:
df.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,True,False,False,False,True,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,True,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,True,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,False,False,False,False,False,False,False,False,False,False,False,False,False
585,False,False,False,False,False,False,False,False,False,False,False,False,False
586,False,False,False,False,False,False,False,False,False,False,False,False,False
587,False,False,False,False,False,False,False,False,False,False,False,False,False
588,False,True,False,False,False,False,False,False,False,False,False,False,False
589,False,False,False,False,False,False,False,False,False,False,False,False,False
590,False,False,False,False,False,False,False,False,False,False,False,False,False
591,False,False,False,False,False,False,False,False,False,False,False,False,False
592,False,True,False,False,False,False,False,False,False,False,False,False,False
593,False,False,False,False,False,False,False,False,False,False,False,False,False
594,False,False,False,False,False,False,False,False,False,False,False,False,False
595,False,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,True,False,False,False,False,False,False,False,False,False
598,False,False,False,False,False,False,False,False,False,False,False,False,False
599,False,False,False,False,False,False,False,False,False,False,False,False,False
600,False,False,False,False,False,True,False,False,False,False,True,False,False
601,False,False,False,False,False,True,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,True,False,False,False,False
606,False,False,False,False,False,False,False,False,False,False,False,False,False
607,False,False,False,False,False,False,False,False,False,False,False,False,False
608,False,False,False,False,False,False,False,False,False,False,False,False,False
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [23]:
df.isnull().sum() ## count

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df1=pd.read_csv("testData.csv")
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [28]:
b=(df).append(df1) ## adding
b

C:\Users\user-10\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No
351,2283,15000.0,NaN,0,Graduate,Male,106.0,360.0,LP002901,NaN,No,Rural,No
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No
358,3132,0.0,NaN,2,Not Graduate,Male,76.0,360.0,LP002954,NaN,Yes,Rural,No
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No
360,8550,4255.0,NaN,0,Graduate,Female,96.0,360.0,LP002965,NaN,Yes,Urban,No
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,LP002980,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [32]:
df1['Gender']=df1['Gender'].replace({'Male':'1','Female':'2'})
df1['Married']=df1['Married'].replace({'No':'1','Yes':'2'})
df1['Education']=df1['Education'].replace({'Graduate':'1','Not Graduate':'2'})
df1['Self_Employed']=df1['Self_Employed'].replace({'No':'1','Yes':'2'})
df1['Property_Area']=df1['Property_Area'].replace({'Urban':'1','Rural':'2','Semiurban':'3'})
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,2,0,1,1,5720,0,110.0,360.0,1.0,1
1,LP001022,1,2,1,1,1,3076,1500,126.0,360.0,1.0,1
2,LP001031,1,2,2,1,1,5000,1800,208.0,360.0,1.0,1
3,LP001035,1,2,2,1,1,2340,2546,100.0,360.0,NaN,1
4,LP001051,1,1,0,2,1,3276,0,78.0,360.0,1.0,1
5,LP001054,1,2,0,2,2,2165,3422,152.0,360.0,1.0,1
6,LP001055,2,1,1,2,1,2226,0,59.0,360.0,1.0,3
7,LP001056,1,2,2,2,1,3881,0,147.0,360.0,0.0,2
8,LP001059,1,2,2,1,NaN,13633,0,280.0,240.0,1.0,1
9,LP001067,1,1,0,2,1,2400,2400,123.0,360.0,1.0,3
10,LP001078,1,1,0,2,1,3091,0,90.0,360.0,1.0,1
11,LP001082,1,2,1,1,NaN,2185,1516,162.0,360.0,1.0,3
12,LP001083,1,1,3+,1,1,4166,0,40.0,180.0,NaN,1
13,LP001094,1,2,2,1,NaN,12173,0,166.0,360.0,0.0,3
14,LP001096,2,1,0,1,1,4666,0,124.0,360.0,1.0,3
15,LP001099,1,1,1,1,1,5667,0,131.0,360.0,1.0,1
16,LP001105,1,2,2,1,1,4583,2916,200.0,360.0,1.0,1
17,LP001107,1,2,3+,1,1,3786,333,126.0,360.0,1.0,3
18,LP001108,1,2,0,1,1,9226,7916,300.0,360.0,1.0,1
19,LP001115,1,1,0,1,1,1300,3470,100.0,180.0,1.0,3
20,LP001121,1,2,1,2,1,1888,1620,48.0,360.0,1.0,1
21,LP001124,2,1,3+,2,1,2083,0,28.0,180.0,1.0,1
22,LP001128,NaN,1,0,1,1,3909,0,101.0,360.0,1.0,1
23,LP001135,2,1,0,2,1,3765,0,125.0,360.0,1.0,1
24,LP001149,1,2,0,1,1,5400,4380,290.0,360.0,1.0,1
25,LP001153,1,1,0,1,1,0,24000,148.0,360.0,0.0,2
26,LP001163,1,2,2,1,1,4363,1250,140.0,360.0,NaN,1
27,LP001169,1,2,0,1,1,7500,3750,275.0,360.0,1.0,1
28,LP001174,1,2,0,1,1,3772,833,57.0,360.0,NaN,3
29,LP001176,1,1,0,1,1,2942,2382,125.0,180.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,1,2,0,1,1,2292,1558,119.0,360.0,1.0,1
338,LP002857,1,2,1,1,2,2360,3355,87.0,240.0,1.0,2
339,LP002858,2,1,0,1,1,4333,2333,162.0,360.0,0.0,2
340,LP002860,1,2,0,1,2,2623,4831,122.0,180.0,1.0,3
341,LP002867,1,1,0,1,2,3972,4275,187.0,360.0,1.0,2
342,LP002869,1,2,3+,2,1,3522,0,81.0,180.0,1.0,2
343,LP002870,1,2,1,1,1,4700,0,80.0,360.0,1.0,1
344,LP002876,1,1,0,1,1,6858,0,176.0,360.0,1.0,2
345,LP002878,1,2,3+,1,1,8334,0,260.0,360.0,1.0,1
346,LP002879,1,2,0,1,1,3391,1966,133.0,360.0,0.0,2
347,LP002885,1,1,0,2,1,2868,0,70.0,360.0,1.0,1
348,LP002890,1,2,2,2,1,3418,1380,135.0,360.0,1.0,1
349,LP002891,1,2,0,1,2,2500,296,137.0,300.0,1.0,2
350,LP002899,1,2,2,1,1,8667,0,254.0,360.0,1.0,2
351,LP002901,1,1,0,1,1,2283,15000,106.0,360.0,NaN,2
352,LP002907,1,2,0,1,1,5817,910,109.0,360.0,1.0,1
353,LP002920,1,2,0,1,1,5119,3769,120.0,360.0,1.0,2
354,LP002921,1,2,3+,2,1,5316,187,158.0,180.0,0.0,3
355,LP002932,1,2,3+,1,1,7603,1213,197.0,360.0,1.0,1
356,LP002935,1,2,1,1,1,3791,1936,85.0,360.0,1.0,1
357,LP002952,1,1,0,1,1,2500,0,60.0,360.0,1.0,1
358,LP002954,1,2,2,2,1,3132,0,76.0,360.0,NaN,2
359,LP002962,1,1,0,1,1,4000,2667,152.0,360.0,1.0,3
360,LP002965,2,2,0,1,1,8550,4255,96.0,360.0,NaN,1
361,LP002969,1,2,1,1,1,2269,2167,99.0,360.0,1.0,3
362,LP002971,1,2,3+,2,2,4009,1777,113.0,360.0,1.0,1
363,LP002975,1,2,0,1,1,4158,709,115.0,360.0,1.0,1
364,LP002980,1,1,0,1,1,3250,1993,126.0,360.0,NaN,3
365,LP002986,1,2,0,1,1,5000,2393,158.0,360.0,1.0,2
366,LP002989,1,1,0,1,2,9200,0,98.0,180.0,1.0,2

In [50]:
df1['Gender'].value_counts()

1    286
2     70
Name: Gender, dtype: int64

In [51]:
df1['Married'].value_counts()

2    233
1    134
Name: Married, dtype: int64

In [52]:
df1['Education'].value_counts()

1    283
2     84
Name: Education, dtype: int64

In [53]:
df1['Self_Employed'].value_counts()

1    307
2     37
Name: Self_Employed, dtype: int64

In [54]:
df1['Property_Area'].value_counts()

1    140
3    116
2    111
Name: Property_Area, dtype: int64

In [55]:
df1[df1['Gender'] == '2']['1'].fillna(mean)

KeyError: '1'

In [ ]:
df1.copy()
df1['LoanAmount'].fillna((df1['LoanAmount'])).median()),inplace=True)
df1['Dependents'].fillna((df1['LoanAmount'])).median()),inplace=True)